@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700');

// Base screen
$screen-lg: 1224px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
$grey-light: #999;
$color-orange: #ff9b4a;

@function rem($target, $base:16px) {
  @return ($target / $base) + rem;
}

// Font face
@font-face {
  font-family: 'merriweatherbold';
  src: url('../fonts/merriweather-bold.woff2') format('woff2'),
       url('../fonts/merriweather-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatheritalic';
  src: url('../fonts/merriweather-italic.woff2') format('woff2'),
       url('../fonts/merriweather-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweatherregular';
  src: url('../fonts/merriweather-regular.woff2') format('woff2'),
       url('../fonts/merriweather-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 16px 'merriweatherregular', 'HelveticaNeue-Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2,
.h2 {
  font-size: rem(20px);
  font-family: 'merriweatheritalic';
  font-weight: normal;
  margin: 0;
  letter-spacing: 0.5px;
  @media screen and (min-width: $screen-md) {
    font-size: rem(24px);
  }
}

.cv {
	max-width: $screen-sm;
	margin: 2em auto;
  
  &-skills,
  &-projects {
    margin: 2em 0;

    @media screen and (min-width: $screen-md) {
      margin: 4em 0;
    }
  }

  &-header {
    &__avatar,
    &__title {
      @media screen and (min-width: $screen-md) {
        margin-top: 4.4em;
        float: left;
      }
    }

    &__intro {
      @media screen and (min-width: $screen-md) {
        clear: both;
      }
    }

    &__avatar {
      width: 100px;
      height: 100px;
      @media screen and (min-width: $screen-md) {
        margin-right: 1em;
      }
    }

    &__title {
      line-height: 1;
      font-size: 2rem;
      letter-spacing: 2px;

      &__sub {
        font-size: 1rem;
        font-family: 'merriweatheritalic';
        font-weight: normal;
        display: block;
        letter-spacing: 0.5px;
      }

      @media screen and (min-width: $screen-md) {
        font-size: 4rem;
        margin: 1em 0;

        &__sub {
          font-size: 1.5rem;
        }
      }
    }
  }

  &-ul {
    padding: 0;
    &__li {
      list-style: none;
      margin-bottom: 0.5em;
      position: relative;
      padding-left: 2em;
      &:before {
        content: '</>';
        display: inline-block;
        width: 20px;
        height: 14px;
        position: absolute;
        top: 10px;
        left: 0;
        font-size: 8px;
        background: #333;
        color: #fff;
        line-height: 8px;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  &-projects {
    &__client-name {
      margin: 0;
      @media screen and (min-width: $screen-md) {
        margin: 1em 0 0.5em;
      }
    }
    &__li {
      margin: 2em 0;

      &:before {
        content: '';
        background: $color-orange;
      }
      
      &__period {
        margin: 0;
        font-style: italic;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: $grey-light;
        @media screen and (min-width: $screen-md) {
          position: absolute;
          top: 0;
          right: 0; 
        }
      }
    }
  }
}
