// @import "base/normalize";

// Base screen
$screen-xl: 1224px;
$screen-lg: 1224px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
$grey-light: #999;

@function rem($target, $base:16px) {
  @return ($target / $base) + rem;
}

// Font face
@font-face {
  font-family: 'museoslab';
  src: url('../fonts/museo_slab_500-webfont-webfont.eot');
  src: url('../fonts/museo_slab_500-webfont-webfont.woff') format('woff'), url('../fonts/museo_slab_500-webfont-webfont.ttf') format('truetype'), url('../fonts/museo_slab_500-webfont-webfont.svg') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'megalopolis';
  src: url('../fonts/megalopolisextra-webfont.eot');
  src: url('../fonts/megalopolisextra-webfont.woff') format('woff'), url('../fonts/megalopolisextra-webfont.ttf') format('truetype'), url('../fonts/megalopolisextra-webfont.svg') format('svg');
  font-style: normal;
}

@font-face {
  font-family: 'marketingscript';
  src: url('../fonts/marketingscript-webfont.eot');
  src: url('../fonts/marketingscript-webfont.woff') format('woff'), url('../fonts/marketingscript-webfont.ttf') format('truetype'), url('../fonts/marketingscript-webfont.svg') format('svg');
  font-style: normal;
}

h2,
.h2 {
  font-size: rem(20px);
  margin: 0 0;
  &:not(:first-child) {
  	margin: 1.4em 0 0;
  }
  line-height: 1.4;
  @media screen and (min-width: $screen-md) {
    font-size: rem(22px);
  }
  @media screen and (min-width: $screen-lg) {
    font-size: rem(24px);
  }
  @media screen and (min-width: $screen-xl) {
    font-size: rem(26px);
  }
}

.position {
	color: $grey-light;
}

body {
	font: 16px museoslab, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 24px;
	background: url('../images/lightpaperfibers.png');
}

.clear { clear: both; }

#page-wrap {
	width: 800px;
	margin: 40px auto 60px;
}

.portrait {
	float: right;
	width: 200px;
	border-radius: 50%;
}

p { margin: 0 0 16px 0; }
a {
	color: $grey-light;
	text-decoration: none;
	border-bottom: 1px dotted $grey-light;

	&:hover {
		border-bottom-style: solid;
		color: black;
	}
}

ul { margin: 0 0 32px 17px; }
#objective {
	width: 500px;
	float: left;
	p {
		font-family: Georgia, Serif;
		font-style: italic;
		color: #666;
	}
}

dt {
	text-align: right;
	padding: 0 26px 0 0;
	width: 150px;
	float: left;
	height: 100px;
	border-right: 1px solid $grey-light;
}

dd {
	width: calc(100% - 177px);
	float: right;
	margin: 0;
	padding-left: 26px;
	box-sizing: border-box;

	&.clear {
		float: none;
		margin: 0;
		height: 15px;
	}
}

