// Compass imports & mixins
@import "compass"
@import "compass/reset"
@import "compass/css3"
@import "compass/layout/grid-background"

//@media all and (max-width: 699px) and (min-width: 520px)
//  body
//    background: red
//
//  #mainheader
//    #ivana
//      font-size: 2.3em // 78px

@media screen and (max-width: 1000px)
	.wrap
		padding: 20px 30px

	#about,
	#contact,
	#blog
		width: 62%
		+border-radius(4px)

	aside#mainaside
		margin-top: 0
		+border-radius(4px)

		.top-tag, .bottom-tag
			display: none

@media screen and (max-width: 850px)
	#about,
	#contact,
	#blog
		width: 60%

	.interests
		margin-left: 0

	#mainheader
		text-align: center

		nav
			width: 462px
			right: auto
			left: 50%
			margin-left: -231px

	#intro
		line-height: 1.8em

	#project-lists
		li
			width: 47.872%

			figcaption
				font-size: 0.85em
				line-height: 1.6em

	.more-coming
		height: 85px

@media screen and (max-width: 800px)
	#twitter-box .follow-me
		display: none

@media screen and (max-width: 700px)
	#about,
	#contact,
	#blog
		width: 93%

	aside#mainaside
		display: none

	#mainheader
		.blog-header
			text-align: center

		nav
			margin-left: -218px
			font-size: 0.75em

	.about-header,
	.contact-header
		.star-note
			text-align: center

	#go-home
		display: none

	#contact-ivana-url
		display: block

@media screen and (max-width: 600px)
	#ivana span
		display: none

	.block
		width: 100%

	.more-coming
		padding-top: 10px !important

	#twitter-box
		width: 96%

		.follow-me
			display: block

@media screen and (max-width: 500px)
	#project-lists
		li
			width: 95.744%
