// Compass imports & mixins
@import "compass"
@import "compass/reset"
@import compass/layout/grid-background

// Variables.
$font-color: #e2dbbc    // Creme
$light-color: #ff9b4a   // Orange
$border-color: #6a6963  // Grey creme
$dark-color: #222       // Dark grey

$museo: museoslab
$megalopolis: megalopolis, $museo
$handwriting: marketingscript, cursive

$font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif

@mixin italic
  font-family: Baskerville,'Goudy Old Style','Palatino','Book Antiqua', serif
  font-style: italic

// Font face
@font-face
  font-family: 'museoslab'
  src: url('../fonts/museo_slab_500-webfont-webfont.eot')
  src: local('☺'), url('../fonts/museo_slab_500-webfont-webfont.woff') format('woff'), url('../fonts/museo_slab_500-webfont-webfont.ttf') format('truetype'), url('../fonts/museo_slab_500-webfont-webfont.svg') format('svg')
  font-style: normal

@font-face
  font-family: 'megalopolis'
  src: url('../fonts/megalopolisextra-webfont.eot')
  src: local('☺'), url('../fonts/megalopolisextra-webfont.woff') format('woff'), url('../fonts/megalopolisextra-webfont.ttf') format('truetype'), url('../fonts/megalopolisextra-webfont.svg') format('svg')
  font-style: normal

@font-face
  font-family: 'marketingscript'
  src: url('../fonts/marketingscript-webfont.eot')
  src: local('☺'), url('../fonts/marketingscript-webfont.woff') format('woff'), url('../fonts/marketingscript-webfont.ttf') format('truetype'), url('../fonts/marketingscript-webfont.svg') format('svg')
  font-style: normal

// Mixin
@mixin data-uri-bg($image, $properties: false)
  @if $properties != false
    background: inline-image($image) $properties
    *background: url($image) $properties
  @else
    background: inline-image($image)
    *background: url($image)

::-moz-selection
  background: $light-color
  color: #fff
  text-shadow: none

::selection
  background: $light-color
  color: #fff
  text-shadow: none

body
  font-family: $font-family
  font-size: 100%
  color: $font-color
  border-top: solid 10px #435058
  background: url("../images/swirl_blue.png") right top no-repeat, url("../images/swirl_pink.png") left top no-repeat, url("../images/bg_repeat.jpg") center top #111519

// Grid dimensions.
$grid-width: 960px
$column-width: 40px
$gutter-width: 20px

$sec-column-width: 20px
$sec-gutter-width: 10px

$show-baseline-grid-backgrounds: false // Toggle baselines visibility.
$grid-background-baseline-height: 1em
$grid-background-total-columns: 16
$grid-background-column-width: $column-width
$grid-background-gutter-width: $gutter-width
$grid-background-offset: $gutter-width / 2
$grid-background-column-color: rgba(255, 0, 0, .08)
$grid-background-baseline-color: rgba(0, 0, 0, .8)

// Text
a,
a:visited
  color: $light-color
  text-decoration: none

  &:hover
    color: $font-color

strong
  font-weight: bold
  color: $light-color

em
  font-style: italic

.wrap
  max-width: $grid-width
  min-height: 100%
  margin: 0 auto
  //+grid-background

  > section,
  > div
    margin: 25px 0 30px

    h1
      border-bottom: dashed 1px $border-color
      font-family: $museo
      font-size: 1.3125em // 21px
      line-height: 1.6667em // 35px

#mainheader
  position: relative
  padding-top: 125px
  margin-bottom: 50px
  +text-shadow($dark-color 2px 2px 2px)

  h1
    font-size: 1.875em // 30px

  h1,
  em
    font-family: $handwriting
    letter-spacing: 0.03em

  em
    color: #a9ad9c
    font-size: 1.38095em

  nav
    top: 20px
    right: 0
    position: absolute

    a
      display: block
      float: left
      margin-left: 20px
      padding-left: 20px
      font-family: $handwriting
      font-size: 1.875em
      text-decoration: none
      text-align: right
      border-left: dashed 2px $font-color
      color: $font-color

      &:first-child
        border: 0

      &:hover
        color: $light-color

        span
          color: $font-color

      span
        display: block
        font-size: 0.8333em
        color: $light-color

#ivana
  display: block
  margin-left: -5px
  font-family: $megalopolis
  font-size: 3.3333em // 100px
  color: $light-color

#intro
  font-family: $museo
  font-size: 0.7em // 21px

#go-home
  width: 90px
  height: 75px
  top: 10px
  left: 10px
  position: absolute
  display: block
  +hide-text
  +data-uri-bg("go-home.png", no-repeat)

  &:hover
    background-position: 0 -80px

#project-lists
  margin-left: -2.1277% // -20px
  overflow: hidden

  li
    width: 22.85%
    float: left
    margin: 20px 0 0 2.1277% // 20px
    cursor: pointer

    > div
      padding: 5px
      background: rgba(0, 0, 0, 0.45)
      +border-radius(3px)

      &:hover
        background: $border-color

        a
          color: #fff

    a
      display: block
      height: 180px
      overflow: hidden
      font-weight: bold
      letter-spacing: 0.05em
      text-decoration: none
      color: $light-color

    figcaption
      font-size: 0.75em // 12px
      line-height: 1.25em

.more
  display: block
  margin: 15px 0 50px
  text-align: right

#about h1,
#contact h1,
aside h2
  font-size: 1.875em
  font-family: $handwriting
  border: 0

#about,
#contact
  width: 64.584%
  float: left
  padding: 20px
  margin-top: 0
  line-height: 1.375em
  background: rgba(0, 0, 0, 0.3)

  p
    margin-bottom: 15px

.story
  padding: 25px 0 10px
  border-top: dashed 1px $border-color

  h2
    margin-bottom: 15px
    font-family: $handwriting
    font-size: 1.375em

  ul
    margin: 15px 0

  li
    margin: 10px 0 0 20px
    list-style: outside disc

    &:first-child
      margin-top: 0

.note
  margin-bottom: 15px
  font-size: 0.75em

.ball
  width: 24px
  height: 24px
  display: inline-block
  margin-right: 15px
  line-height: 24px
  text-align: center
  font-family: $museo
  font-size: 0.6364em
  color: $dark-color
  +data-uri-bg("bg-number.png", no-repeat)

aside
  width: 260px
  position: relative
  float: right
  padding: 20px 10px 20px 30px
  margin-top: 31px
  line-height: 1.375em
  +data-uri-bg("bg-interests.png", top left repeat-y)

  .bottom-tag,
  .top-tag
    width: 300px
    height: 31px
    left: 0
    display: block
    position: absolute
    +data-uri-bg("bg-interests-top.png", top left no-repeat)

  .top-tag
    top: -31px

  .bottom-tag
    height: 15px
    bottom: -15px
    +data-uri-bg("bg-interests-bottom.png", bottom left no-repeat)

  h3
    margin: 20px 0
    +italic
    font-size: 1.25em

  ul
    margin: 0 0 30px 20px

#mainfooter
  padding-top: 30px
  clear: both
  border-top: solid 10px #435058
  background: url("../images/swirl_footer.png") right top no-repeat, url("../images/bg_footer.jpg") center top #0d1015

  .wrap
    overflow: hidden

.block
  width: 50%
  float: left

  h2
    margin-bottom: 20px
    font-family: $handwriting
    font-size: 1.875em

  p
    line-height: 1.375em

.author
  display: block
  margin-top: 15px
  font-family: $handwriting
  font-size: 1.3125em
  text-align: right

.find-me
  clear: both
  text-align: center

  h2
    margin-bottom: 15px
    +italic
    font-size: 1.125em

  a
    width: 16px
    height: 16px
    display: inline-block
    margin-left: 10px
    +hide-text

    &:first-child
      margin-left: 0

  @each $icon in forrst, twitter, dribbble, github
    .#{$icon}
      +data-uri-bg("icons/#{$icon}.png", no-repeat)

      &:hover
        +data-uri-bg("icons/#{$icon}-active.png", no-repeat)

// Can be removed soon
.awesomeness,
.thanks
  width: 48%
  float: left

  > div
    min-height: 183px
    padding: 10px
    background: rgba(0, 0, 0, 0.45)
    +border-radius(5px)

.thanks
  float: right

#twitter-box
  width: 428px
  min-height: 145px
  position: relative
  float: right
  padding: 10px
  margin-top: 15px
  background: rgba(0, 0, 0, 0.45)
  +border-radius(5px)

  img
    top: 65px
    left: 10px
    position: absolute
    border: solid 3px rgba(255, 255, 255, 0.5)

  .follow-me
    bottom: 10px
    right: 10px
    position: absolute
    font-weight: bold
    font-size: 0.875em

  a
    text-decoration: none

  .time
    top: 16px
    right: 10px
    position: absolute
    font-size: 0.8125em

    a
      color: $border-color

#tweet
  padding-left: 110px
  line-height: 1.375em

.center-header
  width: 960px
  height: 199px

.about-header
  img
    width: 100%
    height: auto

.image-wrapper
  margin-bottom: 15px
  text-align: center

#contact-ivana
  padding: 8px 15px
  font-family: $museo
  font-size: 1.25em
  color: #fff
  border: solid 1px #bb5400
  +border-radius(4px)
  +background-image(linear-gradient(top, $light-color, #fb801c))
  +text-shadow(#bb5400 1px 1px 1px)
  +box-shadow(rgba(0, 0, 0, 0.8) 1px 1px 1px)

  &:hover
    background: #fb801c

.signature
  margin-top: 30px
  text-align: right

  span
    display: block
    font-family: $handwriting
    font-size: 1.25em
    color: $light-color
