.hello {
  &__ivana {
    display: block;
    font-family: $megalopolis;
    color: $light-color;
    font-size: rem(80px);
    span { display: none; }
    
    @media screen and (min-width: $screen-md) {
      font-size: rem(100px);
      margin-left: -5px;
      span { display: inline-block; }
    }
  }

  &__intro {
    font-family: $museo;
    font-size: rem(21px);
  }
}

.freelance {
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: $radius;
  margin-bottom: rem(20px);

  > h2 {
    margin: 0;
    @include italic;
    border-bottom: 0;
    font-size: rem(20px);
    font-weight: normal;
    line-height: rem(24px);
  }

  @media screen and (min-width: $screen-md) {
    margin-bottom: rem(30px);
  }
}
