.mainheader {
  position: relative;
  margin-bottom: rem(20px);
  text-shadow: $dark-color 2px 2px 2px;
  text-align: center;

  @media screen and (min-width: $screen-md) {
    padding-top: rem(100px);
    margin-bottom: rem(40px);
    text-align: left;
  }
  
  h1,
  em {
    font-family: $handwriting;
    letter-spacing: 0.03em;
  }

  h1 {
    font-size: rem(25px);
    @media screen and (min-width: $screen-md) { font-size: rem(30px); }
  }

  em {
    color: #a9ad9c;
    font-size: rem(22px);
  }
}

.go-home {
  width: 90px;
  height: 75px;
  top: 10px;
  left: 10px;
  position: absolute;
  display: block;
  text-indent: -9999px;
  background-image: url("go-home.png");

  &:hover {
    background-position: 0 -80px;
    transition: background-position 0.2s;
  }

}

// About and contact page
.about-header,
.contact-header {
  .header-img {
    display: inline-block
  }

  img {
    width: 100%;
    height: auto;
    margin-top: 15px;
  }
  
  span {
    font-family: $museo;
    font-size: rem(22px);
  }
  
  .star-note {
    display: block;
    margin-top: 10px;
    text-align: right;
    font-family: $handwriting;
  }
}
.about-header {
  .header-img {
    width: 90.625%;
  }
}

.contact-header {
  .header-img { width: 77.2917%;  }
}
