nav[role="navigation"] {

  a {
    font-family: $handwriting;
    margin: 0 0 10px;
    padding: 0 0 10px;
    text-align: center;
    border-left: 0;
    display: block;
    color: $font-color;
    font-size: rem(25px);
  }

  span {
    display: none;
    color: $light-color;
    line-height: 1;
  }

  @media screen and (max-width: $screen-sm - 1) {
    width: 100%; 
    height: 0;
    overflow: hidden;

    a, a:first-child {
      transition-delay: 0.3s;
      transition-duration: 0.3s, 0.3s;
      transition-property: opacity;
      opacity: 0;
      border-bottom: dashed 1px rgba(255, 255, 255, 0.3);
    } 
    
    &.active { 
      height: 100%; 
      a { opacity: 1; }
    }
  }
  
  @media screen and (min-width: $screen-sm) and (max-width: $screen-md - 1) {
    overflow: hidden;
    display: inline-block;
    a:first-child {
      padding-left: 0;
      margin-left: 0;
    }
  }

  @media screen and (min-width: $screen-sm) {
    a {
      float: left;
      margin-left: rem(20px);
      padding-left: rem(20px);
      font-size: rem(30px);
      text-decoration: none;
      text-align: right;
      border-left: dashed 2px $font-color;
      
      &:first-child { border: 0; }
      &:hover { color: $light-color;
        span { color: $font-color; }
      }

      span {
        display: block;
        font-size: rem(26px);
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    position: absolute;
    top: rem(20px);
    right: 0;
  }
}

.home {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

@media screen and (min-width: $screen-md) {
  .home {
    width: 90px;
    height: 75px;
    overflow: hidden;
    text-indent: -9999px;
    background-position: 0 0;
    background-image: url("/assets/images/go-home.png");
    transition: background-position 0.2s;
    position: absolute;
    top: 15px;
    &:hover { background-position: 0 70px; }
  }
}