<footer>
  <div class="text-xl max-w-screen-lg mx-auto px-4 py-12 md:py-16 text-gray-500">
    <ul class="md:flex md:gap-6 md:justify-center">
      <li class="my-2 md:my-0"><a href="https://www.linkedin.com/in/ivanasetiawan/" target="_blank"
          class="text-violet-900 hover:underline hover:underline-offset-8 hover:decoration-dotted hover:text-orange-500"><i
            class="fa-brands fa-linkedin mr-2"></i>ivanasetiawan</a>
      </li>
      <li class="my-2 md:my-0"><i class="fa-solid fa-id-card-clip mr-2"></i>KVK#: 62163566
      </li>
      <li class="my-2 md:my-0"><i class="fa-solid fa-hashtag mr-2"></i>VAT: NL002450150B24
      </li>
    </ul>
  </div>
</footer>