<footer class="bg-slate-50 dark:bg-slate-900">
    <div class="max-w-screen-lg mx-auto px-4 py-10 text-black dark:text-yellow-50">
        <ul class="md:flex md:gap-6 md:justify-center">
            <li class="my-2 md:my-0"><a href="https://www.linkedin.com/in/ivanasetiawan/" target="_blank"
                class="textlink"><i
                    class="fa-brands fa-linkedin mr-2"></i>ivanasetiawan</a>
            </li>
            <li class="my-2 md:my-0"><i class="fa-solid fa-id-card-clip mr-2"></i>KVK#: 62163566
            </li>
            <li class="my-2 md:my-0"><i class="fa-solid fa-hashtag mr-2"></i>VAT: NL002450150B24
            </li>
        </ul>
    </div>
</footer>
