<button onclick="setMode('light')" id="mode-light" type="button" class="bg-slate-200 rounded-full dark:bg-slate-700 cursor-pointer text-yellow-500 inline-block leading-[37px] w-8 h-8 text-center">
    <i class="cursor-pointer fa-solid fa-sun-bright text-xl"></i>
</button>

<button onclick="setMode('dark')" id="mode-dark" type="button" class="bg-slate-200 rounded-full dark:bg-slate-700 text-sky-700 cursor-pointer inline-block leading-[37px] w-8 h-8 text-center">
    <i class="cursor-pointer fa-solid fa-moon text-xl"></i>
</button>
