@font-face {
    font-family: 'fira_codebold';
    src: url('../fonts/firacode-bold-webfont.woff2') format('woff2'),
         url('../fonts/firacode-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fira_coderegular';
    src: url('../fonts/firacode-regular-webfont.woff2') format('woff2'),
         url('../fonts/firacode-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_coderetina';
    src: url('../fonts/firacode-retina-webfont.woff2') format('woff2'),
         url('../fonts/firacode-retina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}