h1,
.h1 {
  font-size: 36px;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 30px;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
}

h3,
.h3 {
  font-size: 28px;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}

h4,
.h4 {
  font-size: 26px;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}

h5,
.h5 {
  font-size: 18px;
  line-height: 1.4;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

blockquote {
  border-left: solid 3px $color-purple;
  background-color: lighten($color-purple, 50%);
  padding: 1em 1em 1em 2em;
  margin: 1.5em 2em;
  footer {
    margin-top: 1em;
  }
}

strong {
  font-weight: bold;
  text-decoration: underline;
}