@import 'normalize';
@import 'vars';
@import 'typography';
@import 'firacode';

body,
html {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.h-clearlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.code-syntax {
  background: $color-grey;
  font-family: 'fira_coderegular';
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 18px 20px;
  position: relative;
  text-align: left;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    height: 100%;
    left: 0;
    top: 0;
    width: 4px;
    background: #000;
  }

  &:after {
    background: #000;
    content: '</>';
    display: block;
    font-size: 10px;
    padding: 4px 8px;
    right: 0;
    top: 0;
  }
}

.mainheader {
  background-image: url('../images/bg.jpeg');
  background-position: center;
  background-size: cover;
  color: $color-white; 
  padding: 3em 0;
  position: relative;
  text-align: center;

  &:before {
    background-color: $color-purple-dark;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  @media screen and (min-width: 768px) {
    padding-bottom: 5em;
  }

  &__title {
    font-size: 50px;
    position: relative;
    text-shadow: 1px 1px 2px $color-purple-dark;
    @media screen and (min-width: 768px) {
      font-size: 56px;
    }
  }
  
  &__sub {
    font-weight: 400;
    position: relative;
    text-shadow: 1px 1px 2px $color-purple-dark;
  }

  &__logobox {
    background-color: $color-white;
    width: 140px;
    height: 140px;
    line-height: 124px;
    margin: 0 auto;
    border-radius: 50%;
    border: solid 4px lighten($color-purple, 40%);
    opacity: 0.9;
  }

  &__logo {
    max-width: 100px;
    vertical-align: middle;
  }
  
  &__name {
    display: block;
  }

  &__text {
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    font-family: 'fira_coderegular';
    text-shadow: 1px 1px 2px $color-purple-dark;
  }
}

.menu {
  background-color: $color-purple-dark;
  border-top: solid 8px $color-red;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  &__item {
    display: inline-block;
  }

  &__link {
    color: $color-white;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 14px;
    text-transform: uppercase;
    transition: background-color 0.2s;

    &:hover,
    &.active {
      background-color: $color-red;
    }
  }
}

.block {
  padding: 2.5em 16px;
  
  @media screen and (min-width: 768px) {
    padding: 4em 0;
  }

  &--alt {
    @media screen and (min-width: 768px) {
      position: relative;
      padding: 4em 0 calc(4em + 50px);

      &:before {
        content: '';
        display: block;
        width: 0; 
        height: 0; 
        border-left: 100vw solid transparent;
        border-bottom: 50px solid transparent;
        position: absolute;
        top: -50px;
      }
    }
  }

  &--white {
    @media screen and (min-width: 768px) {
      &:before {
        border-bottom-color: $color-white;
      }
    }
  }

  &--purple {
    background-color: $color-purple;
    color: $color-white;
    @media screen and (min-width: 768px) {
      &:before {
        border-bottom-color: $color-purple;
      }
    }
  }

  &--red {
    background-color: $color-red;
    color: $color-white;
    @media screen and (min-width: 768px) {
      &:before {
        border-bottom-color: $color-red;
      }
    }
  }

  &__title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    font-family: 'fira_coderegular';
    margin: 0 auto;
    max-width: 636px;
    padding: 0 18px;
  }

}

.lessons {
  margin: 2em auto;
  
  @media screen and (min-width: 768px) {
    display: flex;
    margin: 4em auto 2em;
    max-width: 1020px;
  }

  &__item {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 3em;
    }

    @media screen and (min-width: 768px) {
      margin: 0;
      width: calc(100%/3);
    }
  }

  &__iconbox {
    background-color: $color-white;
    border-radius: 50%; 
    display: block;
    height: 200px;
    line-height: 200px;
    margin: 0 auto;
    text-align: center;
    width: 200px;
  }

  &__icon {
    width: 100px;
    vertical-align: middle;
  }

  &__title {
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__descr {
    font-family: 'fira_coderegular';
    font-size: 14px;
    margin: 0 1em;
  }
}

.about {
  &__content {
    @media screen and (min-width: 768px) {
      padding-left: 160px;
      position: relative;
    }
  }

  &__imgbox {
    border-radius: 50%; 
    border: solid 4px lighten($color-grey, 20%);
    height: 120px;
    line-height: 120px;
    margin: 2em auto;
    overflow: hidden;
    width: 120px;

    @media screen and (min-width: 768px) {
      left: 0;
      margin: 0;
      position: absolute;
    }
  }

  &__img {
    max-height: 100%;
  }
}

.connect {
  text-align: center;
  
  @media screen and (min-width: 768px) {
    padding-bottom: 3em;
  }
  
  &-list {
    display: inline-block;
    margin-top: 2em;
    @media screen and (min-width: 768px) {
      margin-top: 3em;
    }
  }

  &__item {
    display: inline-block;
    padding-left: 60px;
    position: relative;
    line-height: 60px;
    margin: 0 1em;
  }
  
  &__imgbox {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    background-color: $color-white;
    position: absolute;
    left: 0;
    transition: background-color 0.2s;
  }

  &__img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }

  &__link {
    color: $color-white;
    display: block;
    font-family: 'fira_coderegular';
    padding: 0 10px;

    &:hover {
      color: $color-skin;

      .connect__imgbox {
        background-color: $color-skin;
      }
    }
  }
}