.mainfooter {
	background-color: $dark-color;
	padding: rem(20px) 0 0;
	border-top: solid 10px #435058;
	clear: both; 
	
	@media screen and (min-width: $screen-md) {
		overflow: hidden;
	}

	.block {
		h2 {
			margin-bottom: 20px;
			font-family: $handwriting;
			font-size: 1.875em;
		}
		p { line-height: 1.5; }
		@media screen and (min-width: $screen-md) {
			width: 50%;
			float: left;
		}
	}
	
	.update-box {
		position: relative;
		padding: rem(10px);
		margin-top: rem(15px);
		background: rgba(0, 0, 0, 0.45);
		min-height: 125px;

		h2 { margin: 0 0 rem(20px); }

		.update__content {
			margin-left: 100px;
		}

		img {
			position: absolute;
			top: 65px;
			left: 10px;
			border: solid 3px rgba(0, 0, 0, 0.8);
		}

		@media screen and (min-width: $screen-md) {
			width: 42.8%;
			float: right;
		}
	}

	.find-me {
		clear: both;
		text-align: center;
		h2 {
			margin-bottom: 15px;
			@include italic;
			font-size: 1.35em
		}
		a { 
			display: inline-block; 
			margin-right: 10px; 
			color: $font-color; 
			&:hover { color: $light-color; }
		}
		.icon { margin-right: 5px; }
	}
}