nav[role="navigation"] {
  top: rem(10px);

  a {
    font-family: $handwriting;
    margin: 0 0 10px;
    padding: 0 0 10px;
    text-align: center;
    border-left: 0;
    display: block;
    color: $font-color;
    font-size: rem(25px);
  }

  span {
    display: block;
    color: $light-color;
    line-height: 1;
    margin-top: rem(-5px);
  }

  @media screen and (max-width: $screen-sm - 1) {
    width: 100%; 
    height: 0;
    overflow: hidden;

    a, a:first-child {
      transition-delay: 0.3s;
      transition-duration: 0.3s, 0.3s;
      transition-property: opacity;
      opacity: 0;
      border-bottom: dashed 1px rgba(255, 255, 255, 0.3);
    } 
    
    &.active { 
      height: 100%; 
      a { opacity: 1; }
    }
  }

  @media screen and (min-width: $screen-sm) {
    position: absolute;
    top: rem(20px);
    right: 0;

    a {
      float: left;
      margin-left: rem(20px);
      padding-left: rem(20px);
      font-size: rem(30px);
      text-decoration: none;
      text-align: right;
      border-left: dashed 2px $font-color;

      &:first-child { border: 0; }
      &:hover { color: $light-color;
        span { color: $font-color; }
      }

      span {
        font-size: rem(24px);
      }
    }
  }
}