@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border-radius: 9px;
  border: 3px solid #fff;
}

@layer base {
  @font-face {
    font-family: 'tpr';
    font-weight: 400;
    src:
      url('/assets/fonts/tpr-regular-webfont.woff2') format('woff2'),
      url('/assets/fonts/tpr-regular-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'tpr';
    font-weight: 500;
    src:
      url('/assets/fonts/tpr-medi-webfont.woff2') format('woff2'),
      url('/assets/fonts/tpr-medi-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'tpr';
    src:
      url('/assets/fonts/tpr-bold-webfont.woff2') format('woff2'),
      url('/assets/fonts/tpr-bold-webfont.woff') format('woff');
    font-weight: 600;
  }
}

@layer utilities {

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
}

@layer components {
  .textlink {
    @apply text-violet-500 dark:text-violet-300 underline underline-offset-8 hover:decoration-dotted hover:text-orange-500;
  }

  .precode {
    @apply text-sm bg-slate-900 text-white my-4 rounded-xl leading-7 overflow-auto;
  }


}
