/* line 17, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "museoslab";
  src: url("../fonts/museo_slab_500-webfont-webfont.eot");
  src: local("☺"), url("../fonts/museo_slab_500-webfont-webfont.woff") format("woff"), url("../fonts/museo_slab_500-webfont-webfont.ttf") format("truetype"), url("../fonts/museo_slab_500-webfont-webfont.svg") format("svg");
  font-style: normal;
}

@font-face {
  font-family: "megalopolis";
  src: url("../fonts/megalopolisextra-webfont.eot");
  src: local("☺"), url("../fonts/megalopolisextra-webfont.woff") format("woff"), url("../fonts/megalopolisextra-webfont.ttf") format("truetype"), url("../fonts/megalopolisextra-webfont.svg") format("svg");
  font-style: normal;
}

@font-face {
  font-family: "marketingscript";
  src: url("../fonts/marketingscript-webfont.eot");
  src: local("☺"), url("../fonts/marketingscript-webfont.woff") format("woff"), url("../fonts/marketingscript-webfont.ttf") format("truetype"), url("../fonts/marketingscript-webfont.svg") format("svg");
  font-style: normal;
}

/* line 45, sass/site.sass */
::-moz-selection {
  background: #ff9b4a;
  color: white;
  text-shadow: none;
}

/* line 50, sass/site.sass */
::selection {
  background: #ff9b4a;
  color: white;
  text-shadow: none;
}

/* line 55, sass/site.sass */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #e2dbbc;
  border-top: solid 10px #435058;
  background: url("../images/swirl_blue.png") right top no-repeat, url("../images/swirl_pink.png") left top no-repeat, url("../images/bg_repeat.jpg") center top #111519;
}

/* line 80, sass/site.sass */
a,
a:visited {
  color: #ff9b4a;
}
/* line 84, sass/site.sass */
a:hover,
a:visited:hover {
  color: #e2dbbc;
}

/* line 87, sass/site.sass */
.wrap {
  max-width: 940px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
/* line 94, sass/site.sass */
.wrap > section,
.wrap > div {
  margin: 25px 0 30px;
}
/* line 98, sass/site.sass */
.wrap > section h1,
.wrap > div h1 {
  border-bottom: dashed 1px #6a6963;
  font-family: museoslab, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.313em;
  line-height: 1.667em;
}

/* line 104, sass/site.sass */
#mainheader {
  position: relative;
  padding-top: 125px;
  margin-bottom: 50px;
  text-shadow: #222222 2px 2px 2px;
}
/* line 110, sass/site.sass */
#mainheader h1 {
  font-size: 1.875em;
}
/* line 113, sass/site.sass */
#mainheader h1,
#mainheader em {
  font-family: marketingscript, cursive;
  letter-spacing: 0.03em;
}
/* line 118, sass/site.sass */
#mainheader em {
  color: #a9ad9c;
  font-size: 1.381em;
}
/* line 122, sass/site.sass */
#mainheader #ivana {
  display: block;
  margin-left: -5px;
  font-family: megalopolis, museoslab, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.333em;
  color: #ff9b4a;
}
/* line 129, sass/site.sass */
#mainheader #intro {
  font-family: museoslab, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7em;
}
/* line 133, sass/site.sass */
#mainheader nav {
  top: 20px;
  right: 0;
  position: absolute;
}
/* line 138, sass/site.sass */
#mainheader nav a {
  display: block;
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  font-family: marketingscript, cursive;
  font-size: 1.875em;
  text-decoration: none;
  text-align: right;
  border-left: dashed 2px #e2dbbc;
  color: #e2dbbc;
}
/* line 150, sass/site.sass */
#mainheader nav a:first-child {
  border: 0;
}
/* line 153, sass/site.sass */
#mainheader nav a:hover {
  color: #ff9b4a;
}
/* line 156, sass/site.sass */
#mainheader nav a:hover span {
  color: #e2dbbc;
}
/* line 159, sass/site.sass */
#mainheader nav a span {
  display: block;
  font-size: 0.833em;
  color: #ff9b4a;
}

/* line 164, sass/site.sass */
#projects {
  margin-left: -2.128%;
  overflow: hidden;
}
/* line 168, sass/site.sass */
#projects li {
  width: 22.85%;
  float: left;
  margin: 20px 0 0 2.128%;
}
/* line 173, sass/site.sass */
#projects li > div {
  padding: 5px;
  background: rgba(0, 0, 0, 0.45);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
/* line 178, sass/site.sass */
#projects li > div:hover {
  background: #6a6963;
}
/* line 181, sass/site.sass */
#projects li > div:hover a {
  color: white;
}
/* line 184, sass/site.sass */
#projects li a {
  display: block;
  height: 180px;
  overflow: hidden;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #ff9b4a;
}
/* line 193, sass/site.sass */
#projects li figcaption {
  font-size: 0.75em;
  line-height: 1.25em;
}

/* line 197, sass/site.sass */
.more {
  display: block;
  margin: 15px 0 50px;
  text-align: right;
}

/* line 202, sass/site.sass */
#mainfooter {
  padding-top: 30px;
  clear: both;
  border-top: solid 10px #435058;
  background: url("../images/swirl_footer.png") right top no-repeat, url("../images/bg_footer.jpg") center top #0d1015;
}
/* line 208, sass/site.sass */
#mainfooter .wrap {
  overflow: hidden;
}

/* line 211, sass/site.sass */
.block {
  width: 48.936%;
  float: left;
}
/* line 215, sass/site.sass */
.block h2 {
  margin-bottom: 20px;
  font-family: marketingscript, cursive;
  font-size: 1.875em;
}
/* line 220, sass/site.sass */
.block p {
  line-height: 1.375em;
}

/* line 223, sass/site.sass */
.author {
  display: block;
  margin-top: 15px;
  font-family: marketingscript, cursive;
  font-size: 1.313em;
  text-align: right;
}

/* line 230, sass/site.sass */
.awesomeness,
.find_me {
  float: left;
}
/* line 234, sass/site.sass */
.awesomeness > div,
.awesomeness > ul,
.find_me > div,
.find_me > ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.45);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 240, sass/site.sass */
.find_me {
  float: right;
}

/* line 243, sass/site.sass */
#twitter_box {
  width: 440px;
  min-height: 145px;
  position: relative;
  float: right;
  padding: 10px;
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.45);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 253, sass/site.sass */
#twitter_box img {
  top: 65px;
  left: 10px;
  position: absolute;
  border: solid 3px rgba(255, 255, 255, 0.5);
}
/* line 259, sass/site.sass */
#twitter_box .follow_me {
  bottom: 10px;
  right: 10px;
  position: absolute;
  font-weight: bold;
  font-size: 0.875em;
}
/* line 266, sass/site.sass */
#twitter_box a {
  text-decoration: none;
}
/* line 269, sass/site.sass */
#twitter_box .time {
  top: 16px;
  right: 10px;
  position: absolute;
  font-size: 0.813em;
}
/* line 275, sass/site.sass */
#twitter_box .time a {
  color: #6a6963;
}

/* line 278, sass/site.sass */
#tweet {
  padding-left: 110px;
  line-height: 1.375em;
}

/* line 282, sass/site.sass */
.image_wrapper {
  margin-bottom: 15px;
  text-align: center;
}
