/* line 17, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "museoslab";
  src: url("../fonts/museo_slab_500-webfont-webfont.eot");
  src: local("☺"), url("../fonts/museo_slab_500-webfont-webfont.woff") format("woff"), url("../fonts/museo_slab_500-webfont-webfont.ttf") format("truetype"), url("../fonts/museo_slab_500-webfont-webfont.svg") format("svg");
  font-style: normal;
}

@font-face {
  font-family: "megalopolis";
  src: url("../fonts/megalopolisextra-webfont.eot");
  src: local("☺"), url("../fonts/megalopolisextra-webfont.woff") format("woff"), url("../fonts/megalopolisextra-webfont.ttf") format("truetype"), url("../fonts/megalopolisextra-webfont.svg") format("svg");
  font-style: normal;
}

@font-face {
  font-family: "marketingscript";
  src: url("../fonts/marketingscript-webfont.eot");
  src: local("☺"), url("../fonts/marketingscript-webfont.woff") format("woff"), url("../fonts/marketingscript-webfont.ttf") format("truetype"), url("../fonts/marketingscript-webfont.svg") format("svg");
  font-style: normal;
}

/* line 43, sass/site.sass */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #e2dbbc;
  background: url("../images/swirl_blue.png") right top no-repeat, url("../images/swirl_pink.png") left top no-repeat, url("../images/bg.jpg") center top #111519 repeat-x;
}

/* line 66, sass/site.sass */
#wrap {
  max-width: 940px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 halve-gutter();
  background-image: -webkit-gradient(linear, 0% 50%, 970 50%, color-stop(1.031%, rgba(0, 0, 0, 0)), color-stop(1.031%, rgba(255, 0, 0, 0.08)), color-stop(5.155%, rgba(255, 0, 0, 0.08)), color-stop(5.155%, rgba(0, 0, 0, 0)), color-stop(7.216%, rgba(0, 0, 0, 0)), color-stop(7.216%, rgba(255, 0, 0, 0.08)), color-stop(11.34%, rgba(255, 0, 0, 0.08)), color-stop(11.34%, rgba(0, 0, 0, 0)), color-stop(13.402%, rgba(0, 0, 0, 0)), color-stop(13.402%, rgba(255, 0, 0, 0.08)), color-stop(17.526%, rgba(255, 0, 0, 0.08)), color-stop(17.526%, rgba(0, 0, 0, 0)), color-stop(19.588%, rgba(0, 0, 0, 0)), color-stop(19.588%, rgba(255, 0, 0, 0.08)), color-stop(23.711%, rgba(255, 0, 0, 0.08)), color-stop(23.711%, rgba(0, 0, 0, 0)), color-stop(25.773%, rgba(0, 0, 0, 0)), color-stop(25.773%, rgba(255, 0, 0, 0.08)), color-stop(29.897%, rgba(255, 0, 0, 0.08)), color-stop(29.897%, rgba(0, 0, 0, 0)), color-stop(31.959%, rgba(0, 0, 0, 0)), color-stop(31.959%, rgba(255, 0, 0, 0.08)), color-stop(36.082%, rgba(255, 0, 0, 0.08)), color-stop(36.082%, rgba(0, 0, 0, 0)), color-stop(38.144%, rgba(0, 0, 0, 0)), color-stop(38.144%, rgba(255, 0, 0, 0.08)), color-stop(42.268%, rgba(255, 0, 0, 0.08)), color-stop(42.268%, rgba(0, 0, 0, 0)), color-stop(44.33%, rgba(0, 0, 0, 0)), color-stop(44.33%, rgba(255, 0, 0, 0.08)), color-stop(48.454%, rgba(255, 0, 0, 0.08)), color-stop(48.454%, rgba(0, 0, 0, 0)), color-stop(50.515%, rgba(0, 0, 0, 0)), color-stop(50.515%, rgba(255, 0, 0, 0.08)), color-stop(54.639%, rgba(255, 0, 0, 0.08)), color-stop(54.639%, rgba(0, 0, 0, 0)), color-stop(56.701%, rgba(0, 0, 0, 0)), color-stop(56.701%, rgba(255, 0, 0, 0.08)), color-stop(60.825%, rgba(255, 0, 0, 0.08)), color-stop(60.825%, rgba(0, 0, 0, 0)), color-stop(62.887%, rgba(0, 0, 0, 0)), color-stop(62.887%, rgba(255, 0, 0, 0.08)), color-stop(67.01%, rgba(255, 0, 0, 0.08)), color-stop(67.01%, rgba(0, 0, 0, 0)), color-stop(69.072%, rgba(0, 0, 0, 0)), color-stop(69.072%, rgba(255, 0, 0, 0.08)), color-stop(73.196%, rgba(255, 0, 0, 0.08)), color-stop(73.196%, rgba(0, 0, 0, 0)), color-stop(75.258%, rgba(0, 0, 0, 0)), color-stop(75.258%, rgba(255, 0, 0, 0.08)), color-stop(79.381%, rgba(255, 0, 0, 0.08)), color-stop(79.381%, rgba(0, 0, 0, 0)), color-stop(81.443%, rgba(0, 0, 0, 0)), color-stop(81.443%, rgba(255, 0, 0, 0.08)), color-stop(85.567%, rgba(255, 0, 0, 0.08)), color-stop(85.567%, rgba(0, 0, 0, 0)), color-stop(87.629%, rgba(0, 0, 0, 0)), color-stop(87.629%, rgba(255, 0, 0, 0.08)), color-stop(91.753%, rgba(255, 0, 0, 0.08)), color-stop(91.753%, rgba(0, 0, 0, 0)), color-stop(93.814%, rgba(0, 0, 0, 0)), color-stop(93.814%, rgba(255, 0, 0, 0.08)), color-stop(97.938%, rgba(255, 0, 0, 0.08)), color-stop(97.938%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 10px, rgba(255, 0, 0, 0.08) 10px, rgba(255, 0, 0, 0.08) 50px, rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0) 70px, rgba(255, 0, 0, 0.08) 70px, rgba(255, 0, 0, 0.08) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 130px, rgba(255, 0, 0, 0.08) 130px, rgba(255, 0, 0, 0.08) 170px, rgba(0, 0, 0, 0) 170px, rgba(0, 0, 0, 0) 190px, rgba(255, 0, 0, 0.08) 190px, rgba(255, 0, 0, 0.08) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 250px, rgba(255, 0, 0, 0.08) 250px, rgba(255, 0, 0, 0.08) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 310px, rgba(255, 0, 0, 0.08) 310px, rgba(255, 0, 0, 0.08) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 370px, rgba(255, 0, 0, 0.08) 370px, rgba(255, 0, 0, 0.08) 410px, rgba(0, 0, 0, 0) 410px, rgba(0, 0, 0, 0) 430px, rgba(255, 0, 0, 0.08) 430px, rgba(255, 0, 0, 0.08) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 490px, rgba(255, 0, 0, 0.08) 490px, rgba(255, 0, 0, 0.08) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 550px, rgba(255, 0, 0, 0.08) 550px, rgba(255, 0, 0, 0.08) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 610px, rgba(255, 0, 0, 0.08) 610px, rgba(255, 0, 0, 0.08) 650px, rgba(0, 0, 0, 0) 650px, rgba(0, 0, 0, 0) 670px, rgba(255, 0, 0, 0.08) 670px, rgba(255, 0, 0, 0.08) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 730px, rgba(255, 0, 0, 0.08) 730px, rgba(255, 0, 0, 0.08) 770px, rgba(0, 0, 0, 0) 770px, rgba(0, 0, 0, 0) 790px, rgba(255, 0, 0, 0.08) 790px, rgba(255, 0, 0, 0.08) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 850px, rgba(255, 0, 0, 0.08) 850px, rgba(255, 0, 0, 0.08) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 910px, rgba(255, 0, 0, 0.08) 910px, rgba(255, 0, 0, 0.08) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 970px);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 10px, rgba(255, 0, 0, 0.08) 10px, rgba(255, 0, 0, 0.08) 50px, rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0) 70px, rgba(255, 0, 0, 0.08) 70px, rgba(255, 0, 0, 0.08) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 130px, rgba(255, 0, 0, 0.08) 130px, rgba(255, 0, 0, 0.08) 170px, rgba(0, 0, 0, 0) 170px, rgba(0, 0, 0, 0) 190px, rgba(255, 0, 0, 0.08) 190px, rgba(255, 0, 0, 0.08) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 250px, rgba(255, 0, 0, 0.08) 250px, rgba(255, 0, 0, 0.08) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 310px, rgba(255, 0, 0, 0.08) 310px, rgba(255, 0, 0, 0.08) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 370px, rgba(255, 0, 0, 0.08) 370px, rgba(255, 0, 0, 0.08) 410px, rgba(0, 0, 0, 0) 410px, rgba(0, 0, 0, 0) 430px, rgba(255, 0, 0, 0.08) 430px, rgba(255, 0, 0, 0.08) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 490px, rgba(255, 0, 0, 0.08) 490px, rgba(255, 0, 0, 0.08) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 550px, rgba(255, 0, 0, 0.08) 550px, rgba(255, 0, 0, 0.08) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 610px, rgba(255, 0, 0, 0.08) 610px, rgba(255, 0, 0, 0.08) 650px, rgba(0, 0, 0, 0) 650px, rgba(0, 0, 0, 0) 670px, rgba(255, 0, 0, 0.08) 670px, rgba(255, 0, 0, 0.08) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 730px, rgba(255, 0, 0, 0.08) 730px, rgba(255, 0, 0, 0.08) 770px, rgba(0, 0, 0, 0) 770px, rgba(0, 0, 0, 0) 790px, rgba(255, 0, 0, 0.08) 790px, rgba(255, 0, 0, 0.08) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 850px, rgba(255, 0, 0, 0.08) 850px, rgba(255, 0, 0, 0.08) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 910px, rgba(255, 0, 0, 0.08) 910px, rgba(255, 0, 0, 0.08) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 970px);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 10px, rgba(255, 0, 0, 0.08) 10px, rgba(255, 0, 0, 0.08) 50px, rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0) 70px, rgba(255, 0, 0, 0.08) 70px, rgba(255, 0, 0, 0.08) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 130px, rgba(255, 0, 0, 0.08) 130px, rgba(255, 0, 0, 0.08) 170px, rgba(0, 0, 0, 0) 170px, rgba(0, 0, 0, 0) 190px, rgba(255, 0, 0, 0.08) 190px, rgba(255, 0, 0, 0.08) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 250px, rgba(255, 0, 0, 0.08) 250px, rgba(255, 0, 0, 0.08) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 310px, rgba(255, 0, 0, 0.08) 310px, rgba(255, 0, 0, 0.08) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 370px, rgba(255, 0, 0, 0.08) 370px, rgba(255, 0, 0, 0.08) 410px, rgba(0, 0, 0, 0) 410px, rgba(0, 0, 0, 0) 430px, rgba(255, 0, 0, 0.08) 430px, rgba(255, 0, 0, 0.08) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 490px, rgba(255, 0, 0, 0.08) 490px, rgba(255, 0, 0, 0.08) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 550px, rgba(255, 0, 0, 0.08) 550px, rgba(255, 0, 0, 0.08) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 610px, rgba(255, 0, 0, 0.08) 610px, rgba(255, 0, 0, 0.08) 650px, rgba(0, 0, 0, 0) 650px, rgba(0, 0, 0, 0) 670px, rgba(255, 0, 0, 0.08) 670px, rgba(255, 0, 0, 0.08) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 730px, rgba(255, 0, 0, 0.08) 730px, rgba(255, 0, 0, 0.08) 770px, rgba(0, 0, 0, 0) 770px, rgba(0, 0, 0, 0) 790px, rgba(255, 0, 0, 0.08) 790px, rgba(255, 0, 0, 0.08) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 850px, rgba(255, 0, 0, 0.08) 850px, rgba(255, 0, 0, 0.08) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 910px, rgba(255, 0, 0, 0.08) 910px, rgba(255, 0, 0, 0.08) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 970px);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 10px, rgba(255, 0, 0, 0.08) 10px, rgba(255, 0, 0, 0.08) 50px, rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0) 70px, rgba(255, 0, 0, 0.08) 70px, rgba(255, 0, 0, 0.08) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 130px, rgba(255, 0, 0, 0.08) 130px, rgba(255, 0, 0, 0.08) 170px, rgba(0, 0, 0, 0) 170px, rgba(0, 0, 0, 0) 190px, rgba(255, 0, 0, 0.08) 190px, rgba(255, 0, 0, 0.08) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 250px, rgba(255, 0, 0, 0.08) 250px, rgba(255, 0, 0, 0.08) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 310px, rgba(255, 0, 0, 0.08) 310px, rgba(255, 0, 0, 0.08) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 370px, rgba(255, 0, 0, 0.08) 370px, rgba(255, 0, 0, 0.08) 410px, rgba(0, 0, 0, 0) 410px, rgba(0, 0, 0, 0) 430px, rgba(255, 0, 0, 0.08) 430px, rgba(255, 0, 0, 0.08) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 490px, rgba(255, 0, 0, 0.08) 490px, rgba(255, 0, 0, 0.08) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 550px, rgba(255, 0, 0, 0.08) 550px, rgba(255, 0, 0, 0.08) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 610px, rgba(255, 0, 0, 0.08) 610px, rgba(255, 0, 0, 0.08) 650px, rgba(0, 0, 0, 0) 650px, rgba(0, 0, 0, 0) 670px, rgba(255, 0, 0, 0.08) 670px, rgba(255, 0, 0, 0.08) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 730px, rgba(255, 0, 0, 0.08) 730px, rgba(255, 0, 0, 0.08) 770px, rgba(0, 0, 0, 0) 770px, rgba(0, 0, 0, 0) 790px, rgba(255, 0, 0, 0.08) 790px, rgba(255, 0, 0, 0.08) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 850px, rgba(255, 0, 0, 0.08) 850px, rgba(255, 0, 0, 0.08) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 910px, rgba(255, 0, 0, 0.08) 910px, rgba(255, 0, 0, 0.08) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 970px);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 10px, rgba(255, 0, 0, 0.08) 10px, rgba(255, 0, 0, 0.08) 50px, rgba(0, 0, 0, 0) 50px, rgba(0, 0, 0, 0) 70px, rgba(255, 0, 0, 0.08) 70px, rgba(255, 0, 0, 0.08) 110px, rgba(0, 0, 0, 0) 110px, rgba(0, 0, 0, 0) 130px, rgba(255, 0, 0, 0.08) 130px, rgba(255, 0, 0, 0.08) 170px, rgba(0, 0, 0, 0) 170px, rgba(0, 0, 0, 0) 190px, rgba(255, 0, 0, 0.08) 190px, rgba(255, 0, 0, 0.08) 230px, rgba(0, 0, 0, 0) 230px, rgba(0, 0, 0, 0) 250px, rgba(255, 0, 0, 0.08) 250px, rgba(255, 0, 0, 0.08) 290px, rgba(0, 0, 0, 0) 290px, rgba(0, 0, 0, 0) 310px, rgba(255, 0, 0, 0.08) 310px, rgba(255, 0, 0, 0.08) 350px, rgba(0, 0, 0, 0) 350px, rgba(0, 0, 0, 0) 370px, rgba(255, 0, 0, 0.08) 370px, rgba(255, 0, 0, 0.08) 410px, rgba(0, 0, 0, 0) 410px, rgba(0, 0, 0, 0) 430px, rgba(255, 0, 0, 0.08) 430px, rgba(255, 0, 0, 0.08) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 490px, rgba(255, 0, 0, 0.08) 490px, rgba(255, 0, 0, 0.08) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 550px, rgba(255, 0, 0, 0.08) 550px, rgba(255, 0, 0, 0.08) 590px, rgba(0, 0, 0, 0) 590px, rgba(0, 0, 0, 0) 610px, rgba(255, 0, 0, 0.08) 610px, rgba(255, 0, 0, 0.08) 650px, rgba(0, 0, 0, 0) 650px, rgba(0, 0, 0, 0) 670px, rgba(255, 0, 0, 0.08) 670px, rgba(255, 0, 0, 0.08) 710px, rgba(0, 0, 0, 0) 710px, rgba(0, 0, 0, 0) 730px, rgba(255, 0, 0, 0.08) 730px, rgba(255, 0, 0, 0.08) 770px, rgba(0, 0, 0, 0) 770px, rgba(0, 0, 0, 0) 790px, rgba(255, 0, 0, 0.08) 790px, rgba(255, 0, 0, 0.08) 830px, rgba(0, 0, 0, 0) 830px, rgba(0, 0, 0, 0) 850px, rgba(255, 0, 0, 0.08) 850px, rgba(255, 0, 0, 0.08) 890px, rgba(0, 0, 0, 0) 890px, rgba(0, 0, 0, 0) 910px, rgba(255, 0, 0, 0.08) 910px, rgba(255, 0, 0, 0.08) 950px, rgba(0, 0, 0, 0) 950px, rgba(0, 0, 0, 0) 970px);
  background-position: left top;
}

/* line 73, sass/site.sass */
a,
a:visited {
  color: #ff9b4a;
}

/* line 77, sass/site.sass */
#mainheader {
  position: relative;
  padding: 125px 0 0 10px;
}
/* line 81, sass/site.sass */
#mainheader h1 {
  font-size: 1.875em;
}
/* line 84, sass/site.sass */
#mainheader h1,
#mainheader em {
  font-family: marketingscript, cursive;
  letter-spacing: 0.03em;
}
/* line 89, sass/site.sass */
#mainheader em {
  color: #a9ad9c;
  font-size: 1.381em;
}
/* line 93, sass/site.sass */
#mainheader #ivana {
  display: block;
  margin-left: -5px;
  font-family: megalopolis, museoslab, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.333em;
  color: #ff9b4a;
}
/* line 100, sass/site.sass */
#mainheader #intro {
  font-family: museoslab, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7em;
}
/* line 104, sass/site.sass */
#mainheader nav {
  top: 20px;
  right: 0;
  position: absolute;
}
/* line 109, sass/site.sass */
#mainheader nav a {
  display: block;
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  font-family: marketingscript, cursive;
  font-size: 1.875em;
  text-decoration: none;
  text-align: right;
  border-left: dashed 2px #e2dbbc;
  color: #e2dbbc;
}
/* line 121, sass/site.sass */
#mainheader nav a:first-child {
  border: 0;
}
/* line 124, sass/site.sass */
#mainheader nav a:hover {
  color: #ff9b4a;
}
/* line 127, sass/site.sass */
#mainheader nav a:hover span {
  color: #e2dbbc;
}
/* line 130, sass/site.sass */
#mainheader nav a span {
  display: block;
  font-size: 0.833em;
  color: #ff9b4a;
}
