/* line 995, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
form {
  font-family: "Whitney SSm A", "Whitney SSm B" !important;
}

/* line 1002, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
li {
  margin-bottom: 10px;
}

/* line 1003, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
span {
  display: block;
  overflow: hidden;
}

/* line 1007, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
fieldset {
  border: 0;
}
@media screen and (min-width: 784px) {
  /* line 1007, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
  fieldset {
    width: 60%;
  }
}

/* line 1013, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
label {
  display: block;
  font-family: "Whitney SSm A", "Whitney SSm B";
  margin-bottom: 5px;
}

/* line 1018, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
input[type="text"], input[type="email"], input[type="password"], textarea, input.text, input.search, textarea.textarea {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px inset;
  background: #fff;
  padding: 10px;
  border: 0;
  outline: none;
  width: 90%;
}

/* line 1027, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
textarea {
  resize: none;
  height: 100px;
}

/* line 1031, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
input[type="submit"] {
  border: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}

/* line 1037, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
input[type="checkbox"] {
  float: left;
  margin: 3px 10px 0 0;
}

/* line 1041, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
.field {
  margin-bottom: 20px;
}

/* line 1044, /Users/ivana/Sites/hartstichting/app/assets/stylesheets/_module.scss */
.instruct {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #d7d7d7;
  padding: 10px;
  width: 90%;
  font-style: italic;
}
