<footer class="mainfooter">
  <div class="wrap">
    <div id="about-me" class="block">
      <h2>People used to call me Kiddo</h2>
      <p>I live in Amsterdam and work at <a href="http://www.funda.nl" target="_blank">Funda</a>, the largest real estate online platform in the Netherlands with nearly 30 million visitors per month. I love doodling, writing songs, exercising, and coding during my free time. I consider LA as my third hometown after Surabaya &amp; Amsterdam. O yea, I am a passionate writer and want to be better at it.</p>
    </div>

    <div class="block update-box">
      <h2>Twitter update:</h2>
      <img src="/assets/images/avatar.jpg" alt="avatar" />
      <div class="update__content">
        Sorry, it's private! You can request to follow though.
        <p class="follow-me">You should follow me on Twitter <a href="https://twitter.com/ivanasetiawan" target="_blank">here</a></p>
      </div>
    </div>

    <div class="find-me">
      <h2>~ Find me on: ~</h2>
      <p>
        <a href="https://bitbucket.com/ivanasetiawan" target="_blank"><span class="icon icon-bitbucket"></span></a>
        <a href="https://github.com/ivanasetiawan" target="_blank"><span class="icon icon-github"></span></a>
        <a href="https://www.youtube.com/user/kidsetiawan" target="_blank"><span class="icon icon-youtube"></span></a>
      </p>
    </div>

  </div><!-- End of wrap -->

</footer>