<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="dark">

{%- include head.html -%}

<body class="font-tpr tracking-wide">
  <header class="px-4 py-6 bg-slate-900 text-white fixed w-full z-10 top-0">
    <div class="max-w-screen-lg mx-auto px-4 flex font-monospace justify-between">
      <h1 class="mr-4 md:mr-6 tracking-widest text-xl font-semibold">
        <a href="/" class="group">
          n<span class="group-hover:hidden">*</span><span class="hidden group-hover:inline group-hover:text-orange-500">3</span>rd<span class="group-hover:hidden">*</span><span class="hidden group-hover:inline group-hover:text-violet-500">0</span>nc<span class="group-hover:hidden">*</span><span class="hidden group-hover:inline group-hover:text-lime-500">1</span>d
        </a>
      </h1>
      <nav>
        <ul class="flex">
          <li class="ml-4 md:ml-6 tracking-wide"><a class="text-xl hover-g-violet-pink font-semibold" href="/blog/">blog</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main aria-label="Content">
    {{ content }}
  </main>

  {%- include footer.html -%}
  {%- include script.html -%}
</body>

</html>