<article class="freelance">
	<h2>I am available for freelance work! Here is my <a href="https://www.linkedin.com/in/ivanasetiawan" target="_blank">LinkedIn</a>, and feel free to <a href="mailto:ivana.setiawan@gmail.com">contact me</a> when you have any questions!</h2>
</article>
