<button class="c-hamburger menu__hamburger">
	<span>Menu</span>
</button>

<nav role="navigation">
	<a href="index.html#projects">Projects <span>art</span></a>
	<a href="about.html">About <span>bio</span></a>
	<a href="blog.html">Blog <span>notes</span></a>
	<a href="contact.html">Contact <span>ivana</span></a>
</nav>