<button class="c-hamburger menu__hamburger">
	<span>Menu</span>
</button>

<nav role="navigation">
	<a href="index.html#projects">Projects <span>art</span></a>
	<a href="/about">About <span>bio</span></a>
	<a href="/blog">Blog <span>notes</span></a>
	<a href="/contact">Contact <span>ivana</span></a>
</nav>