---
title: About Ivana
---

<div class="wrap">
  <header class="mainheader js_menu">
    <%= partial "nav" %>

    <h1 class="about-header">
      Quick story about
      <img src="/assets/images/about-header.png" alt="Ivana Setiawan" />
      <span>Pronounced /ee-vanh-uh/ so stop calling me /ai-vanh-uh/</span>
      <span class="star-note">* Forget bout my last name, pretty chaotic there.</span>
    </h1>
  </header>
  
  <%= partial "freelance" %>

    <section class="about-ivana">
      <h1>Quick background story:</h1>
      <div class="story">
        <h2><span class="ball"><span>1</span></span>I was born</h2>
        <p>on November,12 1987 in Tulungagung, East Java - Indonesia. It's an extremely small village that I wouldn't be surprised if it's excluded on the map. Anyway, my parents moved to Surabaya since I was an infant. That's where I lived till I was about 17 yo.</p>
      </div>

      <div class="story">
        <h2><span class="ball"><span>2</span></span>When I was 17</h2>
        <p>I was lucky enough to get a scholarship &amp; moved to the Netherlands. Not that simple tho, lots of drama involved - mom cried like I was dead. Oh anyway - I buried my dream to study in Canada since (darn you destiny!)</p>
        <p>Not true, I am still considering to do that sometime in the future actually.. You never know, I might win a lottery or something...</p>
      </div>

      <div class="story">
        <h2><span class="ball"><span>3</span></span>And then I was 20</h2>
        <p class="note">/* Quick hint: College was boring as fuck */</p>
        <p>I moved to California (OC - LA) - started as an intern at Subset M (New media marketing company in Entertainment business). 6 months passed &amp; they hired me (woott!). Amazing time with awesome friends! Met cool artists there - went to Grammy Nomination and other cool events &amp; venues.</p>
      </div>

      <div class="story">
        <h2><span class="ball"><span>4</span></span>Kaboom! back to the Netherlands</h2>
        <p>and signed at <a href="http://www.80beans.com/" target="_blank">80beans</a></p>
        <p><a href="http://www.80beans.com/" target="_blank">80beans</a> is an Application Development company in Amsterdam with awesome people! bla bla bla >> get the info on their website, I am bad in explaining.</p>
      </div>

      <div class="story">
        <h2><span class="ball"><span>5</span></span>Two years past, then I moved on...</h2>
        <p>to <a href="http://mangrove.com" target="_blank">Mangrove</a> in Rotterdam</p>
        <p><a href="http://mangrove.com" target="_blank">Mangrove</a> is a full service internet company that carries out its work in interdisciplinary teams. This working method ensures that strategy, creative process, technology and marketing are perfectly attuned to each other. <br>
        <em>Result: effective websites and successful online campaigns</em></p>
      </div>

      <div class="story">
        <h2><span class="ball"><span>6</span></span>After an amazing 2.5 years,</h2>
        <p>I decided to start working in Amsterdam area &amp; focusing more on my freelance projects. I currently work at <a href="http://funda.nl" target="_blank">Funda</a><sup>*</sup> in Amsterdam.</p>
        <p><sup>*</sup> <a href="http://funda.nl" target="_blank">Funda</a> is the largest online platform of the broker and the leading online media company in the real estate domain (in the Netherlands), with nearly 30 million visitors per month.
      </div>
    </section>

    <aside class="mainaside">
      <div class="interests">
        <h2>Interests:</h2>
        <h3>Profesionally:</h3>
        <ul>
          <li>UX Design</li>
          <li>Nerding out with code</li>
          <li>Semantic HTML &amp; CSS</li>
          <li>Toying around with JS</li>
          <li>Digging into iOS Dev (Xcode)</li>
          <li>Blah blah FrontEnd architecture stuff</li>
        </ul>
        <h3>Personally I like:</h3>
        <ul>
          <li>Eating. A lot</li>
          <li>Drinking too much coffee</li>
          <li>Drawing &amp; writing</li>
          <li>Travelling</li>
          <li>Yoga-ing</li>
          <li>Kickboxing</li>
        </ul>
      </div> <!-- Interests end -->
      <span class="top-tag"></span>
      <span class="bottom-tag"></span>
    </aside>
</div> <!-- End of .container -->