---
title: Contact me
---

<div class="wrap">
	<header class="mainheader js_menu">
		<%= partial "nav" %>

		<h1 class="contact-header">
			You're on my
			<br />
			<span class="header-img"><img src="/assets/images/contact-header.png" alt="Ivana Setiawan"/></span>
			<br />
			<span>I generally reply within 24-48h - or trying to at least. </span>
			<span class="star-note">*Please do not include weekend, I am off like other normal people, you know.</span>
		</h1>
	</header>

	<%= partial "freelance" %>

  <section class="contact-ivana">
    <h1>Please drop me lines when...</h1>
    <p>You think you have cool ideas to share &amp; develop! I am not interested with long-term project though; I (unfortunately) hardly have time for it.

    <p>Secondly, I am interested in contributing to open-source &amp; charity projects.</p>

    <p>Last but not least, of course, you are always welcome to ask me questions, give me suggestions and drop some comments.</p>

    <p class="signature">
      Cheers,
      <span>Ivana Setiawan</span>
    </p>
  </section>

  <aside class="mainaside centered">
    <a href="mailto:ivana.setiawan@gmail.com" class="contact-ivana-btn">Write me</a>
    <span class="top-tag"></span>
    <span class="bottom-tag"></span>
  </aside>
</div>