---
title: /ee-vanh-uh/ ~ Ivana
---

<div class="wrap">
  <header class="mainheader hello js_menu">
    <%= partial "nav" %>

    <h1>
      Oh Hi! My name is...
      <span class="hello__ivana">Ivana <span>Setiawan</span></span>
      <span class="hello__intro">
        I am a
        <em>Rocket Scientist</em>
        wannabe, who's passionately in love with
        <em>Front End </em>
        stuff &amp; currently lives in
        <em>Amsterdam</em>
      </span>
    </h1>
  </header>

  <%= partial "freelance" %>

  <article id="projects">
    <h2 class="is-title">Awh-Sum Projects</h2>
    <ul id="og-grid" class="og-grid">
      <li>
        <a href="/nozzman" data-largesrc="nozzman_2x.jpg" data-title="Nozzman" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/nozzman_2x.jpg" alt="Bram van Rijen aka Nozzman"/>
        </a>
      </li>
      <li>
        <a href="/prisroos" data-largesrc="" data-title="Pris Roos" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/prisroos_2x.jpg" alt="Pris Roos"/>
        </a>
      </li>
      <li>
        <a href="http://ivanasetiawan.com/sassify/" data-largesrc="" data-title="Pris Roos" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/sassify_2x.jpg" alt="Sassify"/>
        </a>
      </li>
      <li>
        <a href="/notifica.re" data-largesrc="" data-title="Notificare" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/notificare_2x.jpg" alt="Notificare"/>
        </a>
      </li>
      <li>
        <a href="http://ivanasetiawan.github.com/people_do_have_their_colours" data-largesrc="" data-title="Notificare" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/people_colours_2x.jpg" alt="People do have their colours"/>
        </a>
      </li>
      <li>
        <a href="http://amsrb.org/" data-largesrc="" data-title="Notificare" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/amsterdam-rb_2x.jpg" alt="Amsterdam-rb" alt="Amsterdam-rb"/>
        </a>
      </li>
      <li>
        <a href="http://tapirgo.com/" data-largesrc="" data-title="TapirGo" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/tapirgo_2x.jpg" alt="TapirGo!"/>
        </a>
      </li>
      <li>
        <a href="http://slicecraft.nl" data-largesrc="" data-title="SliceCraft" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/slicecraft_2x.jpg" alt="SliceCraft"/>
        </a>
      </li>
      <li>
        <a href="#" data-largesrc="" data-title="Euruko 2012 v1" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/euruko2012_2x.jpg" alt="Euruko 2012 v1"/>
        </a>
      </li>
      <li>
        <a href="#" data-largesrc="" data-title="Euruko 2012 v2" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/euruko2012-2_2x.jpg" alt="Euruko 2012 v2"/>
        </a>
      </li>
      <li>
        <a href="http://dribbble.com/shots/236857-Sample-header-for-writing-gig" data-largesrc="" data-title="Synesthesia" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/synesthesia_2x.jpg" alt="Synesthesia"/>
        </a>
      </li>
      <li>
        <a href="/stuffformysongs" data-largesrc="" data-title="Synesthesia" data-description="Bram van Rijen, also known as Nozzman is a freelance graphic artist/illustrator/cartoonist and creative director at Mangrove in Rotterdam with Pop Surrealism genrea in his pocket.">
          <img src="assets/images/works/noteforlady_2x.jpg" alt="Stuff for my songs"/>
        </a>
      </li>
    </ul>
  </article>

</div> <!-- End of .container -->