---
title: Welcome to my site!
---


  <div class="wrap">
    <header class="hello">
      <h1>
        Oh Hi! My name is...
        <span class="ivana">Ivana <span>Setiawan</span></span>
        <span class="intro">
          I am a
          <em>Rocket Scientist</em>
          wannabe, who's passionately in love with
          <em>Front End </em>
          stuff &amp; currently lives in
          <em>Amsterdam</em>
        </span>
      </h1>

      <nav role="navigation">
        <a href="index.html#projects">Projects <span>art</span></a>
        <a href="about.html">About <span>bio</span></a>
        <a href="blog.html">Blog <span>notes</span></a>
        <a href="contact.html">Contact <span>ivana</span></a>
      </nav>
    </header>

    <section class="freelance">
      <h1>I am available for freelance work! Get to know my skills <a href="/island.html" target="_blank">here</a>, and feel free to <a href="mailto:ivana.setiawan@gmail.com">contact me</a> when you have any questions!</h1>
    </section>

    <section id="projects">
      <h1>Awh-Sum Projects</h1>
      <ul id="project-lists">
        <li>
          <div>
            <a href="/nozzman" target="_blank">
              <figure>
                <img src="assets/images/works/nozzman_2x.jpg" alt="Bram van Rijen aka Nozzman"/>
                <figcaption>Nozzman</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="/prisroos" target="_blank">
              <figure>
                <img src="assets/images/works/prisroos_2x.jpg" alt="Pris Roos"/>
                <figcaption>Pris Roos</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="http://ivanasetiawan.com/sassify/" target="_blank">
              <figure>
                <img src="assets/images/works/sassify_2x.jpg" alt="Sassify"/>
                <figcaption>Sassify</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="/notifica.re" target="_blank">
              <figure>
                <img src="assets/images/works/notificare_2x.jpg" alt="Notificare"/>
                <figcaption>Notificare</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="http://ivanasetiawan.github.com/people_do_have_their_colours" target="_blank">
              <figure>
                <img src="assets/images/works/people_colours_2x.jpg" alt="People do have their colours"/>
                <figcaption>People do have their colours</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="http://amsrb.org/" target="_blank">
              <figure>
                <img src="assets/images/works/amsterdam-rb_2x.jpg" alt="Amsterdam-rb"/>
                <figcaption>Amsterdam-rb</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="http://tapirgo.com/" target="_blank">
              <figure>
                <img src="assets/images/works/tapirgo_2x.jpg" alt="TapirGo!"/>
                <figcaption>TapirGo!</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="http://slicecraft.nl" target="_blank">
              <figure>
                <img src="assets/images/works/slicecraft_2x.jpg" alt="SliceCraft"/>
                <figcaption>SliceCraft</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="http://forrst.com/posts/r8S/original" target="_blank">
              <figure>
                <img src="assets/images/works/euruko2012_2x.jpg" alt="Euruko 2012! v1"/>
                <figcaption>Euruko 2012 v1</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="http://forrst.com/posts/JQY/original" target="_blank">
              <figure>
                <img src="assets/images/works/euruko2012-2_2x.jpg" alt="Euruko 2012! v2"/>
                <figcaption>Euruko 2012 v2</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="http://dribbble.com/shots/236857-Sample-header-for-writing-gig" target="_blank">
              <figure>
                <img src="assets/images/works/synesthesia_2x.jpg" alt="Synesthesia"/>
                <figcaption>Synesthesia</figcaption>
              </figure>
            </a>
          </div>
        </li>
        <li>
          <div>
            <a href="/stuffformysongs" target="_blank">
              <figure>
                <img src="assets/images/works/noteforlady_2x.jpg" alt="Stuff for my songs"/>
                <figcaption>Stuff for my songs</figcaption>
              </figure>
            </a>
          </div>
        </li>
      </ul>
    </section>

  </div> <!-- End of .container -->


<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->