body {
  font-family: $font-family;
  font-size: 100%;
  color: $font-color;
  border-top: solid 10px #435058;
  background: url("/assets/images/swirl_blue.png") right top no-repeat, url("/assets/images/swirl_pink.png") left top no-repeat, url("/assets/images/bg_repeat.jpg") center top #111519;
}

