@font-face {
  font-family: 'museoslab';
  src: url("/assets/fonts/museo_slab_500-webfont-webfont.eot");
  src: url("/assets/fonts/museo_slab_500-webfont-webfont.woff") format("woff"), url("/assets/fonts/museo_slab_500-webfont-webfont.ttf") format("truetype"), url("/assets/fonts/museo_slab_500-webfont-webfont.svg") format("svg");
  font-style: normal; }
@font-face {
  font-family: 'megalopolis';
  src: url("/assets/fonts/megalopolisextra-webfont.eot");
  src: url("/assets/fonts/megalopolisextra-webfont.woff") format("woff"), url("/assets/fonts/megalopolisextra-webfont.ttf") format("truetype"), url("/assets/fonts/megalopolisextra-webfont.svg") format("svg");
  font-style: normal; }
@font-face {
  font-family: 'marketingscript';
  src: url("/assets/fonts/marketingscript-webfont.eot");
  src: url("/assets/fonts/marketingscript-webfont.woff") format("woff"), url("/assets/fonts/marketingscript-webfont.ttf") format("truetype"), url("/assets/fonts/marketingscript-webfont.svg") format("svg");
  font-style: normal; }
a,
a:visited {
  color: #ff9b4a;
  text-decoration: none; }
  a:hover,
  a:visited:hover {
    color: #e2dbbc;
    transition: color 0.2s; }

strong {
  font-weight: bold;
  color: #ff9b4a; }

em {
  font-style: italic; }

h1,
.h1 {
  font-size: 2rem; }
  @media screen and (min-width: 1024px) {
    h1,
    .h1 {
      font-size: 3rem; } }
  @media screen and (min-width: 1224px) {
    h1,
    .h1 {
      font-size: 3.5rem; } }
  @media screen and (min-width: 1224px) {
    h1,
    .h1 {
      font-size: 4rem; } }

body {
  font-family: museoslab, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #e2dbbc;
  border-top: solid 10px #435058;
  background: url("/assets/images/bg_repeat.jpg") center top #111519; }
  body.index {
    background: url("/assets/images/swirl_blue.png") right top no-repeat, url("/assets/images/swirl_pink.png") left top no-repeat, url("/assets/images/bg_repeat.jpg") center top #111519; }

.wrap {
  max-width: 1024px;
  min-height: 100%;
  margin: 0 auto; }
  .wrap > section,
  .wrap > div {
    margin: 25px 0 30px; }

.hello {
  position: relative;
  padding-top: 7.8125rem;
  margin-bottom: 3.125rem;
  text-shadow: #222 2px 2px 2px; }
  .hello h1,
  .hello em {
    font-family: marketingscript, cursive;
    letter-spacing: 0.03em; }
  .hello h1 {
    font-size: 1.875rem; }
  .hello em {
    color: #a9ad9c;
    font-size: 1.375rem; }

nav[role="navigation"] {
  position: absolute;
  top: 1.25rem;
  right: 0; }
  nav[role="navigation"] a {
    display: block;
    float: left;
    margin-left: 1.25rem;
    padding-left: 1.25rem;
    font-family: marketingscript, cursive;
    font-size: 1.875rem;
    text-decoration: none;
    text-align: right;
    border-left: dashed 2px #e2dbbc;
    color: #e2dbbc; }
    nav[role="navigation"] a:first-child {
      border: 0; }
    nav[role="navigation"] a:hover {
      color: #ff9b4a; }
      nav[role="navigation"] a:hover span {
        color: #e2dbbc; }
    nav[role="navigation"] a span {
      display: block;
      font-size: 1.5rem;
      color: #ff9b4a; }

.ivana {
  display: block;
  margin-left: -5px;
  font-family: megalopolis, museoslab, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6.25rem;
  color: #ff9b4a; }

.intro {
  font-family: museoslab, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3125rem; }

.go-home {
  width: 90px;
  height: 75px;
  top: 10px;
  left: 10px;
  position: absolute;
  display: block;
  text-indent: -9999px;
  background-image: url("go-home.png"); }
  .go-home:hover {
    background-position: 0 -80px;
    transition: background-position 0.2s; }

.freelance {
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 3px; }
  .freelance > h1 {
    margin: 0;
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    font-style: italic;
    letter-spacing: .7px;
    border-bottom: 0;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.5rem; }

.projects__lists {
  padding: 0;
  list-style: none;
  overflow: hidden;
  padding-bottom: 0.625rem;
  margin-left: -2.1277%; }
  .projects__lists li {
    width: calc((100% - (20px * 3)) /4);
    float: left;
    margin: 1.25rem 0 0 -2.1277%; }

/*# sourceMappingURL=site.css.map */
