// $color-grey: #323232;
// $color-purple: #632F53;
// $color-purple-dark: #341931;
$color-red: #FF1F4C;
$color-skin: #FDE6BD;
$color-white: #fff;
$color-yellow: #F4DD51;

$color-mint-dark: #B9D9B4;
$color-mint: #cfffdd;
$color-dark: #2F446A;
$color-green: #288D85;
// $color-mint: #cfffdd;
// $color-mint-dark: #288D85;