@font-face {
	font-family: 'icomoon';
	src:url('/assets/fonts/icomoon.eot?-hk25ho');
	src:url('/assets/fonts/icomoon.eot?#iefix-hk25ho') format('embedded-opentype'),
		url('/assets/fonts/icomoon.ttf?-hk25ho') format('truetype'),
		url('/assets/fonts/icomoon.woff?-hk25ho') format('woff'),
		url('/assets/fonts/icomoon.svg?-hk25ho#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ecoicon';
	src:url('/assets/fonts/ecoicon.eot');
	src:url('/assets/fonts/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/ecoicon.woff') format('woff'),
		url('/assets/fonts/ecoicon.ttf') format('truetype'),
		url('/assets/fonts/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;

	box-shadow: 0 0 0 4px rgba(226,219,188,0.6);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;

	&:after {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		content: '';
		-webkit-box-sizing: content-box; 
		-moz-box-sizing: content-box; 
		box-sizing: content-box;

		top: -8px;
		left: -8px;
		padding: 8px;
		z-index: -1;
		opacity: 0;

		// Effect spec
		box-shadow: 3px 3px rgba(226,219,188,1);
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
		-moz-transition: opacity 0.2s, -moz-transform 0.2s;
		transition: opacity 0.2s, transform 0.2s; 
	}
	&:before {
		font-family: 'ecoicon';
		speak: none;
		font-size: 48px;
		line-height: 90px;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		display: block;
		-webkit-font-smoothing: antialiased;

		// Effect spec
		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0.7;
		-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
		-moz-transition: -moz-transform 0.2s, opacity 0.2s;
		transition: transform 0.2s, opacity 0.2s;
	}
	&:hover { color: #fff; 
		box-shadow: 0 0 0 4px rgba(226,219,188,1);
		// Effect 
		&:after {
			opacity: 1;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		&:before {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}
	}
}

@each $iconClass, $content in 
	( mobile, "\e009"),
	( screen, "\e00a"),
	( earth, "\e002"),
	( support, "\e000" ),
	( locked, "\e001"),
	( cog, "\e003"),
	( clock, "\e004"),
	( videos, "\e005"),
	( list, "\e006"),
	( refresh, "\e007"),
	( images, "\e008"),
	( pencil, "\e00b"),
	( link, "\e00c"),
	( mail, "\e00d"),
	( location, "\e00e"),
	( archive, "\e00f"),
	( chat, "\e010"),
	( bookmark, "\e011"),
	( user, "\e012"),
	( contract, "\e013"),
	( star, "\e014")
{
	.hi-icon-#{$iconClass}:before {
		content: $content;
	}
}




.icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-location:before {
	content: "\e600";
}
.icon-bug:before {
	content: "\e601";
}
.icon-menu:before {
	content: "\e602";
}
.icon-embed2:before {
	content: "\e603";
}
.icon-terminal:before {
	content: "\e604";
}
.icon-youtube:before {
	content: "\e605";
}
.icon-github:before {
	content: "\e606";
}


