body {
  font-family: $font-family;
  font-size: 100%;
  color: $font-color;
  border-top: solid 10px #435058;
  background: url("/assets/images/bg_repeat.jpg") center top #111519;
  
  &.index {
    background: url("/assets/images/swirl_blue.png") right top no-repeat, url("/assets/images/swirl_pink.png") left top no-repeat, url("/assets/images/bg_repeat.jpg") center top #111519;
  }
  
}

.wrap {
  max-width: $grid-width;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px 30px;

  > section,
  > article {
    margin: 25px 0 30px;
  }
}

::-moz-selection {
  background: $light-color;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $light-color;
  color: #fff;
  text-shadow: none;
}

.centered { text-align: center; }
.no-margin-bottom { margin-bottom: 0 !important; }
